@{
    ViewBag.Title = "Home Page";
}

<style>
    .container-body {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-30%, -30%);
        width: 700px;
    }
        .container-body .language {
            margin: 0;
            position: relative;
            top: 50%;
            left: 35%;
        }
</style>

<div class="container-body" style="margin: auto">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to ONLINE IDE</h1>
    <h1>Choose language you want to compile</h1>
    <div class="language">
        <a class="btn btn-primary" href="/Java/Index" style="width: 70px;">Java</a>
        <a class="btn btn-primary" href="/CSharp/Index" style="width: 70px;">C#</a>
    </div>
</div>
